<h1>{{ pageName }}</h1>

<form role="form">
	<div class="form-group">
		<label for="origin">Origin</label>
		<input type="text" class="form-control" id="origin" ng-model="ride.origin" placeholder="Enter the origin">
	</div>
	<div class="form-group">
		<label for="destination">Destination</label>
		<input type="text" class="form-control" id="destination" ng-model="ride.destination" placeholder="Enter your destination">
	</div>
	<div class="form-group">
		<label for="leavingDate">LeavingDate</label>
		<input type="text" class="form-control" id="leavingDate" ng-model="ride.leavingDate" placeholder="Enter the date">
	</div>
	<div class="form-group">
		<label for="seatNumber">Seat number</label>
		<input type="text" class="form-control" id="seatNumber" ng-model="ride.seatNumber" placeholder="Enter the Seat Number">
	</div>
	<button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
</form>