<div>
	<div class="page-header">
		<h1>Ride list</h1>
	</div>
	<div class="panel panel-default">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="col-xs-1">id</th>
					<th class="col-xs-2">Origin</th>
					<th class="col-xs-2">Destination</th>
					<th class="col-xs-2">Leaving date</th>
					<th class="col-xs-2">Available seats</th>
					<th class="col-xs-1">Driver</th>
					<th class="col-xs-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="rides.length == 0">
					<td colspan="7">There is no ride for now.</td>
				</tr>
				<tr ng-repeat="ride in rides">
					<td>{{ ride.id }}</td>
					<td>{{ ride.origin }}</td>
					<td>{{ ride.destination }}</td>
					<td>{{ ride.leavingDate | date:"dd/MM/yyyy" }}</td>
					<td>{{ ride.seatNumber }}</td>
					<td><a ui-sref="users.user({ id: ride.driver.id })">{{ ride.driver.username }}</a></td>
					<td><a ui-sref="rides.view({ id: ride.id })" class="btn btn-xs btn-primary">View</a> <a ui-sref="rides.update({ id: ride.id })" class="btn btn-xs btn-warning">Update</a> <a ui-sref="rides.delete({ id: ride.id })" class="btn btn-xs btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
