<div>
	<h1>Ride list</h1>
	<div class="panel panel-default">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>origin</th>
					<th>destination</th>
					<th>leaving date</th>
					<th>seat number</th>
					<th>Driver</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ride in rides">
					<td>{{ ride.id }}</td>
					<td>{{ ride.origin }}</td>
					<td>{{ ride.destination }}</td>
					<td>{{ ride.leavingDate }}</td>
					<td>{{ ride.seatNumber }}</td>
					<td><a ui-sref="user({ id: ride.driver.id })">{{ ride.driver.username }}</a></td>
					<td><a ui-sref="update({ id: ride.id })">Update</a> | <a ui-sref="delete({ id: ride.id })">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
