<div class="page-header">
	<h1>{{ pageName }}</h1>
</div>

<form name="rideForm">
	<div class="form-group">
		<label for="origin">Origin</label>
		<input type="text" class="form-control" id="origin" ng-model="ride.origin" placeholder="Enter the origin" required>
	</div>
	<div class="form-group">
		<label for="destination">Destination</label>
		<input type="text" class="form-control" id="destination" ng-model="ride.destination" placeholder="Enter your destination" required>
	</div>
	<div class="form-group" ng-class="{'has-error': rideForm.leavingDate.$invalid}">
		<label for="leavingDate">LeavingDate</label>
		<input type="text" class="form-control" id="leavingDate" name="leavingDate" ng-model="ride.leavingDate" placeholder="Enter the date" data-autoclose="true" data-date-format="dd/MM/yyyy" data-min-date="today" bs-datepicker required>
	</div>
	<div class="form-group">
		<label for="seatNumber">Seat number <small>(excluding the driver's seat)</small></label>
		<input type="number" class="form-control" id="seatNumber" ng-model="ride.seatNumber" placeholder="Enter the Seat Number" required>
	</div>
	<div class="form-group" ng-if="$state.is('rides.create')">
		<label>Driver</label>
		<ui-select ng-model="ride.driver" required>
			<ui-select-match placeholder="Enter a username">{{ $select.selected.username }}</ui-select-match>
			<ui-select-choices repeat="user in users | filter: $select.search">
				<div ng-bind-html="user.username"></div>
			</ui-select-choices>
		</ui-select>
	</div>
	<div class="form-action text-right">
		<a ng-click="cancel()" class="btn btn-default">Cancel</a>
		<button type="submit" ng-click="submit()" id="submit" ng-disabled="rideForm.$invalid" class="btn btn-default btn-primary">Submit</button>
	</div>
</form>