<div class="page-header">
	<h1>User list</h1>
</div>

<div class="panel panel-default">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="col-xs-1">id</th>
				<th class="col-xs-9">Username</th>
				<th class="col-xs-2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="users.length == 0">
				<td colspan="3">There is no user for now.</td>
			</tr>
			<tr ng-repeat="user in users">
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td><a ui-sref="users.user({ id: user.id })" class="btn btn-primary btn-xs">View</a> <a ui-sref="users.update({ id: user.id })" class="btn btn-warning btn-xs">Update</a> <a ui-sref="users.delete({ id: user.id })" class="btn btn-danger btn-xs">Delete</a></td>
			</tr>
		</tbody>
	</table>
</div>
