<h1>{{ pageName }}</h1>

<form name="userForm">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Enter your username" required>
	</div>
	<div class="form-action text-right">
		<a ng-click="cancel()" class="btn btn-default">Cancel</a>
		<button type="submit" ng-click="submit()" id="submit" ng-disabled="userForm.$invalid" class="btn btn-default btn-primary">Valider</button>
	</div>
</form>