<div class="page-header">
	<h1>{{ user.username }}</h1>
</div>

<dl class="dl-horizontal">
	<dt>Identifier</dt>
	<dd>{{ user.id }}</dd>
	<dt>Rides as driver</dt>
	<dd>
		<div ng-show="!ridesAsDriver.length">No rides</div>
		<div ng-show="ridesAsDriver.length" ng-repeat="ride in ridesAsDriver">
			<a ui-sref="rides.view({ id: ride.id })">{{ ride.origin }} &rarr; {{ ride.destination }}</a>
		</div>
	</dd>
	<dt>Rides as passenger</dt>
	<dd>
		<div ng-show="!ridesAsPassenger.length">No rides</div>
		<div ng-show="ridesAsPassenger.length" ng-repeat="ride in ridesAsPassenger">
			<a ui-sref="rides.view({ id: ride.id })">{{ ride.origin }} &rarr; {{ ride.destination }}</a>
		</div>
	</dd>
</dl>