@(form: Form[services.models.User])

@import views.form.HorizontalForm._

@skel {

    @helper.form(action = routes.Authentication.authenticate(), 'class -> "form-with-inputs") {

        <h1>Log in</h1><br/>

        @if(form.hasGlobalErrors) {
            <div class="form-group has-error">
                <div class="controls">
                    @for(error <- form.globalErrors) {
                        <div class="help-block">@error.message</div>
                    }
                </div>
            </div>
        }

        <input type="hidden" name="action" value="login">

        @helper.inputText(form("username"), 'placeholder -> "Clint Eastwood", '_label -> "Login", 'class -> "form-control")

        @helper.inputPassword(form("password"), 'placeholder -> "********", '_label -> "Password", 'class -> "form-control")

        <button class="btn btn-primary">Log In</button> or <a href="@routes.Authentication.registration()">register</a>
    }

}