@(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>Journeys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='@routes.Assets.at("css/bootstrap.min.css")' media="screen">
    <link rel="stylesheet" href='@routes.Assets.at("css/journeys.css")' media="screen">
    <link rel="stylesheet" href='@routes.Assets.at("css/datepicker.css")' media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='@routes.Assets.at("js/bootstrap-datepicker.js")'></script>
</head>
<body>
<div class="container">
    @content
</div>
</body>
</html>